.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.app:before {
  content: '';
  background: url('./assets/background.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app-header {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.app-input,
.app-button {
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  border: 0.1rem solid lightgray;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.2rem;
}

.app-button {
  background: rgba(255, 255, 255, 0.8);
  color: gray;
  margin-left: 2rem;
}

.app-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

::placeholder {
  color: white;
  font-size: 1.2rem;
}

.app-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-template-areas:
    'app-title-name app-title-name'
    'app-temp app-temp'
    'app-title-min app-title-max'
    'app-min app-max'
    'app-title-feels app-title-hum'
    'app-feels app-hum'
  ;
  margin: 0 20%;
}

.app-title-name {
  grid-area: app-title-name;
}

.app-temp {
  grid-area: app-temp;
  margin-bottom: 4rem;
}

.app-title-min {
  grid-area: app-title-min;
}

.app-title-max {
  grid-area: app-title-max;
}

.app-min {
  grid-area: app-min;
  margin-bottom: 2rem;
}

.app-max {
  grid-area: app-max;
  margin-bottom: 2rem;
}

.app-title-feels {
  grid-area: app-title-feels;
}

.app-title-hum {
  grid-area: app-title-hum;
}

.app-feels {
  grid-area: app-feels;
}

.app-hum {
  grid-area: app-hum;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.app-text-big {
  font-size: 4rem;
  font-weight: bold;
}

.app-text-medium {
  font-size: 1.2rem;
  font-weight: bold;
}

.app-text-small {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0.4rem;
}

.center {
  display: flex;
  justify-content: center;
}
